# Compiled binaries and plugins
*.exe
*.out
*.test
*.so
# ⬇️ to reduce the size of the image 
plugins/**/*.so

# Git metadata
.git
.gitignore

# Logs and temp files
*.log
*.swp
*.swo
*.docker_tag

# Local environment/config files
.env
*.project
*.settings

# Editor/IDE directories
.vscode/
.vs/
*.idea/

# Docs and assets 
README.md
LICENSE

