# Ignore compiled plugin files (.so)
plugins/**/*.so

# Compiled Go binary
expressops


# Log files
logs/*.log

# Log zip files
logs/*.zip

# Kubernetes secrets
k8s/secrets/fake-clustersecretstore.yaml  
# Terraform -> TODO: Add terraform to the repo
# terraform/*


# Local environment files
.env
*.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
# Google service account key
key.json
k3s.yaml
key_artifact.json