# Ignore compiled plugin files (.so)
plugins/**/*.so

# Compiled Go binary
expressops


# Log files
logs/*.log

# Log zip files
logs/*.zip

# Kubernetes secrets
k8s/secrets.yaml
k3s/secret.yaml
k3s/*.json
*.json
# Local environment files
.env
*.local
