apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "10" # Después de JuiceFS (0) y su SC (1)
spec:
  project: default
  source:
    # El chart viene de un repo Helm externo
    repoURL: 'https://prometheus-community.github.io/helm-charts' # URL del repo del chart
    chart: kube-prometheus-stack # Nombre del chart en ese repo
    targetRevision: '72.5.0' # Versión del chart
    helm:
      releaseName: prometheus-d
      values: |
        grafana:
          enabled: false

        prometheus:
          prometheusSpec:
            podSecurityContext:
              fsGroup: 65534
              runAsNonRoot: true
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: "juicefs-gcs-redis-canonica"
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 30Gi

  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring
  syncPolicy:
    automated: {prune: true, selfHeal: true}
    syncOptions:
      - CreateNamespace=true