# Archivos binarios
*.exe
*.test
*.out
*.so

# Git files
.git
.gitignore

# Archivos temporales y de log
*.log

# Configuración local
.env
*.project
*.settings

# IDEs y editor configs
.vscode/
.vs/
*.idea/
*.swp
*.swo


# Documentation or samples not needed in image
README.md
LICENSE
docs/
